body {
    font-family: 'Open Sans', sans-serif;
    color: #7581a1;
    font-size: 16px;
    line-height: 26px;
    background: url(&Изображение1.png);

    background-repeat: round;


}
.razmetka{
    font-size: 20px;

    padding: 0 22px;
    /* box-shadow: 0 0 10px #fdfdfd, 0 0 40px #2196f3, 0 0 80px #2196f3; */

}


h3{

    text-transform: uppercase;
    color: #fff;
    text-align: center;
    size: 15px;

    padding: 28px 0px 28px 10px;
    text-decoration: none;
    outline: none;


}


body2 {
    margin: 21px;

    display: flex;
    justify-content: center;
    align-items: center;
}

ul{
    margin-bottom: 62px;
    text-align: center;
    color: #fff;
    letter-spacing: 3px;
    padding: 0px 0px 0 0;


}
.form_radio {
    margin-bottom: 10px;
}

.form_radio label {
    display: inline-block;
    cursor: pointer;
    position: relative;
    padding-left: 25px;
    margin-right: 0;
    line-height: 18px;
    user-select: none;
}
.form_radio label:before {
    content: "";
    display: inline-block;
    width: 17px;
    height: 18px;
    position: absolute;
    left: 0;
    bottom: 5px;

}



.wrapper {
    margin: 51px;

    display: flex;
    justify-content: center;
    align-items: center;


}



.form__button {
    font-size: 20px;
    height: 53px;

    width: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;

    text-decoration: none;

    border:  3px solid;
    background-color: transparent;
    border-radius: 0.25em;
    color: #2196f3;
    text-transform: uppercase;
    transition: all 0.5s

}

.form__button:hover {
    color: #255784;
    background: #2196f3;
    box-shadow: 0 0 10px #2196f3, 0 0 40px #2196f3, 0 0 80px #2196f3;


}



